/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Color de fondo claro */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de tema */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* Color de fondo del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

textarea {
    width: 80%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de tema */
}

textarea:focus {
    outline: none;
    border-color: #007bff;
}

button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transición suave para el hover */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Agranda el botón ligeramente */
}

button:focus {
    outline: none;
}

.radio-buttons {
    margin: 20px 0;
}

#logo {
    width: 150px;
    margin-bottom: 20px;
}

/* Estilo para el modo oscuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .container {
    background-color: #444;
}

body.dark-mode textarea {
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
}

body.dark-mode button {
    background-color: #666;
    color: #fff;
}

body.dark-mode button:hover {
    background-color: #555;
}
